.products {
    padding: 2rem;
    background-color: var(--color-bg);
    text-align: center;
}

.products h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .product {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1000px) {
    .product {
        grid-template-columns: repeat(4, 1fr);
    }
    
}